In [2]:
# Import Libraries

import numpy as np
import pandas as pd

# Load the dataset
df=pd.read_csv("../data/raw/ecommerce_sales_data (2).csv")

df.head(5)

   Order Date Product Name     Category Region  Quantity  Sales  Profit
0  31-12-2024      Printer       Office  North         4   3640  348.93
1  27-11-2022        Mouse  Accessories   East         7   1197  106.53
2  11-05-2022       Tablet  Electronics  South         5   5865  502.73
3  16-03-2024        Mouse  Accessories  South         2    786  202.87
4  10-09-2022        Mouse  Accessories   West         1    509  103.28

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3500 non-null   object
 1   Product Name  3500 non-null   object
 2   Category      3500 non-null   object
 3   Region        3500 non-null   object
 4   Quantity      3500 non-null   int64
 5   Sales         3500 non-null   int64
 6   Profit        3500 non-null   float64
dtypes: float64(1), int64(2), object(4)
memory usage: 191.5+ KB

In [4]:
df.describe()

          Quantity         Sales       Profit
count  3500.000000   3500.000000  3500.000000
mean      4.931714   3047.966000   527.047203
std       2.575895   2440.213237   504.139732
min       1.000000     51.000000     6.970000
25%       3.000000   1049.500000   158.695000
50%       5.000000   2350.500000   361.070000
75%       7.000000   4537.000000   729.125000
max       9.000000  10782.000000  2946.930000

In [5]:
# Convert order_date to datetime
df["Order Date"]=pd.to_datetime(df["Order Date"],format="%d-%m-%Y")
df.dtypes

Order Date      datetime64[ns]
Product Name            object
Category                object
Region                  object
Quantity                 int64
Sales                    int64
Profit                 float64
dtype: object

In [6]:
# Create time based features

df["Year"]=df["Order Date"].dt.year
df["Month"]=df["Order Date"].dt.month
df["Month Name"]=df["Order Date"].dt.month_name()
df["Quarter"]=df["Order Date"].dt.to_period('Q').astype(str)

df.head(5)

,Order Date,Product Name,Category,Region,Quantity,Sales,Profit,Year,Month,Month Name,Quarter
0,2024-12-31,Printer,Office,North,4,3640,348.93,2024,12,December,2024Q4
1,2022-11-27,Mouse,Accessories,East,7,1197,106.53,2022,11,November,2022Q4
2,2022-05-11,Tablet,Electronics,South,5,5865,502.73,2022,5,May,2022Q2
3,2024-03-16,Mouse,Accessories,South,2,786,202.87,2024,3,March,2024Q1
4,2022-09-10,Mouse,Accessories,West,1,509,103.28,2022,9,September,2022Q3

In [7]:
# Checking for Duplicate Records
df.duplicated().sum()

0

In [8]:
# Checking unique Values

print(f"Product Name:{df["Product Name"].nunique()}")
print(f"Category:{df["Category"].nunique()}")
print(f"Region:{df["Region"].nunique()}")

Product Name:10
Category:3
Region:4

In [9]:
import os
os.makedirs("../data/processed", exist_ok=True)

In [10]:
df.to_csv("../data/processed/cleaned_ecommerce_sales_data.csv", index=False)